<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="log_collector" value="127.0.0.1" />
    <add key="log_collector1" value="127.0.0.1" />
    <add key="log_collector2" value="127.0.0.1" />
    <add key="log_collector3" value="127.0.0.1" />
    <add key="log_collector4" value="127.0.0.1" />
    <add key="log_collector5" value="127.0.0.1" />
    <add key="log_collector5" value="127.0.0.1" />
    <add key="output_format" value="keyvalue" />
    <add key="log_level " value="warning" />
    <add key="central_app_config" value="http://127.0.0.1:8080/SWELF/examples/Config/" />
    <add key="central_search_config" value="http://127.0.0.1/SWELF/Log_Searchs/" />
    <add key="central_plugin_search_config" value="http://127.0.0.1:8080/SWELF/Plugins/Plugin_Searchs/" />
  </appSettings>
</configuration>